# ignore all with file extension
*.log
*.orig
*.rej
*.o
*.so

.config.old

/tmp
/logs
/files
/overlay

/staging_dir
/build_dir

/bin/*
/package/*
/package/kernel/*
/package/boot/*
/feeds/*
/feeds/telephony/*
/feeds/telephony/libs/*

!/bin/packages
!/bin/packages/*
!/package
!/package/Makefile
!/package/system
!/package/system/*
!/package/base-files
!/package/base-files/*
!/package/kernel
!/package/kernel/linux
!/package/kernel/linux/*
!/package/kernel/mt76
!/package/kernel/mt76/*
!/package/kernel/si3226x
!/package/kernel/si3226x/*
!/package/boot
!/package/boot/uboot-ramips
!/package/boot/uboot-ramips/*
!/feeds
!/feeds/telephony
!/feeds/telephony/libs
!/feeds/telephony/libs/dahdi-linux
!/feeds/telephony/libs/dahdi-linux/*
!/feeds/telephony/libs/dahdi-tools
!/feeds/telephony/libs/dahdi-tools/*
!/feeds/telephony/libs/libpri
!/feeds/telephony/libs/libpri/*

