
/tmp
/logs
/files
/overlay

/staging_dir
/build_dir

/package/*
/package/kernel/*
/package/boot/*

!/package
!/package/Makefile
!/package/system
!/package/base-files
!/package/kernel
!/package/kernel/linux
!/package/kernel/mt76
!/package/kernel/si3226x
!/package/boot
!/package/boot/uboot-ramips

/feeds/*
/feeds/telephony/*
/feeds/telephony/libs/*
!/feeds
!/feeds/telephony
!/feeds/telephony/libs
!/feeds/telephony/libs/dahdi-linux
!/feeds/telephony/libs/dahdi-tools
!/feeds/telephony/libs/libpri

/bin/*
!/bin/packages

*.log
*.orig
*.rej
*.o
*.so

.config.old
