# keep it clean  #

# ignore file extensions #

*.log
*.orig
*.rej
*.o
*.so

# ignore old configs #

.config.old

# ignore temporary files #

/dl
/tmp
/logs
/files
/overlay

# ignore package compilation directories #

/staging_dir
/build_dir

# ignore feeds #

/feeds

# keep bin folder clean (packages only) #

/bin/*
!/bin/packages
!/bin/packages/*

# keep package make scripts clean #

/package/*
/package/system/*
/package/kernel/*
/package/boot/*
!/package
!/package/Makefile
!/package/system
!/package/system/*
!/package/base-files
!/package/base-files/*
!/package/devel
!/package/devel/*
!/package/feeds
!/package/feeds/*
!/package/libs
!/package/libs/*
#!/package/libs/libc
#!/package/libs/libc/*
#!/package/libs/librt
#!/package/libs/librt/*
#!/package/libs/libpthread
#!/package/libs/libpthread/*
#!/package/libs/libubox
#!/package/libs/libubox/*
#!/package/libs/liblua
#!/package/libs/liblua/*
#!/package/libs/libjson-c
#!/package/libs/libjson-c/*
!/package/utils
!/package/utils/*
#!/package/utils/util-linux
#!/package/utils/util-linux/*
#!/package/utils/policycoreutils
#!/package/utils/policycoreutils/*
#!/package/utils/checkpolicy
#!/package/utils/checkpolicy/*
#!/package/utils/jsonfilter
#!/package/utils/jsonfilter/*
!/package/firmware
!/package/firmware/*
!/package/network
!/package/network/*
!/package/kernel
!/package/kernel/linux
!/package/kernel/linux/*
!/package/kernel/mt76
!/package/kernel/mt76/*
!/package/kernel/si3226x
!/package/kernel/si3226x/*
!/package/boot
!/package/boot/uboot-ramips
!/package/boot/uboot-ramips/*

# end of file #
